* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "arial", serif;
}

main {
  height: 100vh;
  width: 100%;

}

header{
	background: none;
	position: fixed;
}

.sr-only{
	overflow: hidden;
	border:0;
	clip: rect(1px, 1px, 1px,1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	padding:0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
header > button{
	margin: 0.5rem 0rem 0rem 1rem;
	width: 32px;
	height: 32px;
	padding: 7px 4px;
	background-color: rgba(0,0,0,0);
	border: none;
}
header > button span{
	display: block;
	width: 20px;
	height: 2px;
	margin-bottom: 3px;
	background: black;
	z-index: 1;
	position: relative;
}

/* Main images and content */
#slideset1{
  height: 10em;
  position: relative;
}
#slideset1 > *{
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
  animation: 5s autoplay1 infinite;
}

@keyframes autoplay1{
  0% {visibility: visible}
  33.33% {visibility: hidden}

}
#slideset1:nth-child(1){
  animation-delay: 0;

}

#slideset1:nth-child(2){
  animation-delay: 4s;

}

#slideset1:nth-child(3){
  animation-delay: 8s;

}
section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

section h2 {
  color: black;
  font-weight: bold;
  white-space: nowrap;
  font-size: 3rem;
  margin: 0 0 0.6rem 0;
}

section h3{
  color: black;
  font-weight: bold;
  white-space: nowrap;
  font-size: 1rem;
  margin-top: 1rem;
}
section > div {
  font-size: 0.9rem;
  color: black;
  font-weight: normal;
  top:50%;
  background-color: rgba(255,255,255,0.5);
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

section a {
  padding: 0.5rem 2.2rem;
  border: 1px white;
  background-color: white;
  color: black;
  margin: 1rem 6rem 0 6rem;
  text-decoration: none;

}

.section-1 {
  background-image: url("../images/zaraafbeelding8.jpg");
}

.section-2 {
  background-image: url("../images/zaraafbeelding9.jpg");
}

.section-3 {
  background-image: url("../images/zaraafbeelding6.jpg");
}

.section-4 {
  background-image: url("../images/zaraafbeelding11.jpg");
 
}


/* Bottom Navigation */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;  
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  margin: 0;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0 8px 15% 8px;
}
/*
@media (min-width: 45em){
	body {
	
}	
	main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (min-width: 75em){
	body {

}	
	main {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
}
*/ 

