*{
	margin: 0em;
}

img{
	width:100%;
	margin:0em;
}

section{
	position: relative;

}

li:first-of-type{
	position: relative;
	text-align: none;
}

h1{
	position: absolute;
	left:50%; top:7em;
	margin:0; padding:.5em 1em;
	text-align:center;
 	transform:translate(-50%, -50%);
}
