*{
	margin: 0em;
}

img{
	width:100%;
	margin:0em;
}

section{
	position: relative;

}

li{
	position: relative;
	text-align: none;
	list-style: none;
}

h1{
	position: absolute;
	font-size: 2em;
	left:50%; top:5.8em;
	margin:0; padding:.5em 1em;
	text-align:center;
 	transform:translate(-50%, -50%);
 	text-decoration: none;
 	list-style: none;
 	color: white;
}
p{
	position: absolute;
	font-size: 13px;
	left:50%; top:17.5em;
	margin:0; padding:.5em 1em;
	text-align:center;
 	transform:translate(-50%, -50%);
 	text-decoration: none;
 	list-style: none;
 	color: white;
 	width: 70%;
}