* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "arial", serif;
  
}

body{
  background-color: #000;
}

main {
  width: 100%;
  margin: auto;
}

.sr-only{
  overflow: hidden;
  border:0;
  clip: rect(1px, 1px, 1px,1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  padding:0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: auto;
}

.mobile {
   max-height: 0;
   transition: 1s;
}

.desktop {
  display: none;
}

.open {
  right:0;
  max-height: 35em;
}


header nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: auto;
  order: 1;
}

header div button{
  margin: 0 31px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

header div button span{
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  background: white;
  z-index: 1;
}


header a img {
 max-width: 30%;
 display: block;
 margin: auto;
}

header nav ul {
  list-style-type: none;
}



header nav ul li a {
  text-decoration: none;
  overflow: hidden;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

header nav ul li {
    padding: 2em 0;
    margin: 0 2em;
}

header > nav > ul:nth-of-type(2) li > i{
  color: white;
  display: flex;

}

header nav ul li a:hover {
  border-bottom: solid #FFF 1px;
  padding: 10px;
}

header nav ul li a:hover {
  transition: border-bottom .3s;
  color: lightgreen;
}

/*gebruik van keyboard */
:focus{
  outline-color: lightgreen;
  box-shadow: 0 7px 20px #0005;
}

header div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
   margin: 0 0 0 0;
}



/* Icons */
.icons {
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: 2em;
}

.icons li {
  margin: 0;
  padding: 0 1rem;
  list-style-type: none;
  align-self: center;
}

/* main*/
main > section{
  display: contents;
}

main > section > article >img{
	color: white;
	width: 100%;

}


main > section > article {
	margin-top: 3em;
	margin: 3em 2em 0em 2em;

}


main > section > article > p{
	color: white;
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 0.5em;
}

main > section > article:nth-of-type(3) > p{
	text-align: center;
}

main > section > article:nth-of-type(3) > h2{
	text-align: center;

}

main > section > article:nth-of-type(3){
	color: white;
	font-size: 2em;
	display: block;
	margin-bottom: 2em;
}

main > section > article > h2{
	color: white;
	text-transform: uppercase;
	font-size: 1em;
}

main > section > article > a{
  letter-spacing: 0.3rem;
  position: relative;
  border: solid #FFF 1px;
  padding: 1em;
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
  background-color: black;
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
}

.addcart .top{
  height: 6px;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1);
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-delay: 0.35s;
}

.addcart .bottom{
  height: 6px;
  overflow: hidden;
  position: relative;
  bottom:0;
  transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1);
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-delay: 0.35s;
}

.addcart .bottom span{
  top:-6px;
  position: absolute;
  left: 0;
}

.addcart:hover .top{
  top: -5px;
  transition-delay: 0.35s;
}

.addcart:hover .bottom{
  top: -5px;
  transition-delay: 0.35s;
}

.addcart:hover .addcart:focus .addcart:active{
  margin-left: 10px;
}

.addcart:before{
    content: '';
    height: 1px;
    width: 60px;
    position: absolute;
    background-color: #ffffff;
    margin-top: 6px;
    right: -35px;
    transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1);
    transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1);
}

.addcart:hover:before{
  width: 130%;
}
main > section > article > p:nth-of-type(2){
  padding-bottom: 2.3em;

}

/* footer */
footer {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8em;

}

footer > h3 {
  font-size: 3em;
}

footer ul{
  list-style: none;
  margin: 8em 0 3em 0em;
 
}

footer ul li{
  display: inline-block;
  padding: 2em;
  font-size: 1em;
}

footer > ul > li:hover{
  border-bottom: solid #FFF 1px;
  color: lightgreen;
  transition: border-bottom .3s;
}


footer form input[type=text]{
  border: none;
  background: black;
  box-shadow: none;
  padding: 1em 0em;
  border-bottom: 1px solid white;
  margin-top: 7em;
  color: white;
  font-size: 1em;
}
footer form input::placeholder{
  color: white;
}


/* mediaquery*/
@media (min-width: 45em){
  
  body {
  
  } 
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
   main > section > article:nth-of-type(3){
    display: grid;
    grid-column: span 2;
  }

   footer > form > input[type=text]{
    width: 25em;
  }
   main > section{
    display: contents;
  }
  main > section > article > a{
     font-size: 0.8em;
 }
}

@media (min-width: 75em){
  body {

} 
  main {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

  main > section > article:nth-of-type(3){
    display: grid;
    grid-column: span 2;
    }

  main > section{
    display: contents;
  }

  footer > form > input[type=text]{
    width: 25em;
  } 
   main > section > article > a{
    border: 1px solid white;
    padding: 1em;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    background-color: black;
}


/* Desktop Styles */

@media (min-width: 70em){
  .open{
    display: flex;
    justify-content: center;
    top: 7em;
  }
  header img {
    max-width: 20%;
    align-self: center;
   }  

   .desktop {
    display: flex;
    overflow: auto;
  }

  header nav {
    align-self: center;
  }

  .mobile {
    display: none !important;
  }

  .icon-mob {
    display: none;

  }

   button{
    display: none;
  }
  main > section{
    display: contents;
  }

  main > section > article > a{
    border: 1px solid white;
    padding: 1em;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    background-color: black;
  }
    footer > form > input[type=text]{
    width: 25em;
  }
}